Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.
Ans:SELECT FIRST_NAME FROM Worker table Limit 3;

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.
Ans:Select charindex('a','Amitabh') from worker

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.
Ans: select max(salary) from employees group by Department;